<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Anton|Arimo|Josefin+Sans|Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Arimo|Covered+By+Your+Grace|Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Arimo|Caveat|Francois+One|Josefin+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
    <title>My Website - Ysa</title>
    </head>
    <div class="header">
    <a href='/' class="header-brands">Trends</a>
    <nav>
        <ul>
            <li><a href="/#menu">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    </div>
<body>
<script>
    AOS.init();
</script>
<main>
{{{body}}}


<footer class="container" id="contact">
<div class="footer">
    <div class="footer-socmed">
        <h1>Connect with me</h1>
        <i id="fb-icon" class="fab fa-facebook-square"></i>
        <i id="twitter-icon" class="fab fa-twitter"></i>
        <i id="git-icon" class="fab fa-github"></i>
    </div>
    <div class="contact-cases">
        <h1>Address</h1>
        <p><i class="fas fa-map-marker-alt"></i>
        &nbsp;48 - D Balagtas Street,<br>
        Tuazon Village, Brgy. Pamplona 1,<br>
        Las Pinas City, Metro Manila, Philippines</p>
    </div>
        <div class="contact-main">
        <h1>Contact Me</h1>
        <p><i class="fas fa-phone"></i>
        &nbsp;Telephone Number: 846-85-65
        <br><i class="fas fa-mobile-alt"></i>
        &nbsp;&nbsp;Mobile Number: 0997-425-3485
        <br><i class="fas fa-envelope"></i>
        &nbsp;Gmail: domingoysabelle@gmail.com</p>
    </div>
</div>
</footer>
<div id="footer-copyright">
    <small>Copyright &copy; 2019 My technical exam in Trends. All rights reserved.</small>
</div>
</main>
</body>
</html>