    <section class="banner">
        <div class="vertical-center" data-aos="zoom-in" data-aos-duration="1000">
            <h2>My Website</h2>
            <h1>A technical exam for a Software Developer position at Trends and Technologies Inc.</h1>
        </div>
    </section>
    <div class="wrapper">
        <section class="" id="about">
            <div class="container">
                <div class="content" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <h6>About Me <3</h6>
                    <p>Hello, I am Ysabelle Louise O. Domingo and this is my technical exam for a Software Developer position at Trends and Technologies Inc. I am 20 years old and I will be turning 21 on the 10th of June. I am a fresh graduate of Information Technology from Technological University of the Philippines - Manila and soon to be the Bread Winner of the family. My family is my motivation and my Lolo is my greatest inspiration. :) Finishing this exam is an accomplishment for me because I was able to learn a new way of creating a website using API, Nodejs, Expressjs and handlebars.  </p>
                </div>
            </div>
        </section>
        <section class="box-links" id="menu">
            <div class="box box-square plain-box" data-aos="flip-down"data-aos-duration="1000">
                <a href="#"></a>
            </div>
            <div class="box box-long postbox" data-aos="flip-up" data-aos-duration="1000">
                <a href="/posts"><h3>Posts</h3></a>
            </div>
            <div class="box box-square usersbox" data-aos="flip-down" data-aos-duration="1000">
                <a href="/users"><h3>Users</h3></a>
            </div>
            <div class="box box-long albumsbox" data-aos="flip-up" data-aos-duration="1000">
                <a href="/albums"><h3>Albums</h3></a>
            </div>
            <div class="box box-square plain-box" data-aos="flip-down" data-aos-duration="1000">
                <a href="#"></a>
            </div>
            <div class="box box-square todobox" data-aos="flip-up" data-aos-duration="1000">
                <a href='/todos'><h3>To-Do</h3></a>
            </div>
        </section>
        <section>
            <div class="how">
                <p>This website is created using nodejs <i class="fab fa-node-js"></i>, Express.js framework and Express-handlebars view engine. All data were fetch from https://jsonplaceholder.typicode.com/</p>
            </div>
        </section>
    </div>
