<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trends Exam - Ysa Domingo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="myweb.html" class="header-brands">Trends</a>
        <nav>
            <ul>
                <li><a href="todo.html">To-dos</a></li>
                <li><a href="users.html">Users</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <a href="#" class="header-cases">Cases</a>
        </nav>
    </header>
    <main>
        <section class="banner">
            <div class="vertical-center">
                <h2>This is my website.</h2>
                <h1>A technical exam for a Software Developer position in Trends</h1>
            </div>
        </section>
        <section class="">
            <a href="posts.html"><div class="index-postlink">
                <h3>Post 1</h3>
            </div></a>
            <a href="posts.html"><div class="index-postlink">
                <h3>Post 2</h3>
            </div></a>
            <a href="posts.html"><div class="index-postlink">
                <h3>Post 3</h3>
             </div></a>
            <a href="posts.html"><div class="index-postlink">
                <h3>Post 4</h3>
            </div></a>
        </section>
    </main>
    <footer class="parallax-footer" id="contact">
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </footer>
</body>
</html>